{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">My shop</a>
      {% if user.is_authenticated %}
        <span class="align-right">Привет, {{ user.username }}!</span>
        
      <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log Out</a>
      <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
      </form>
      {% else %}
        <a href="{% url 'login' %}" class="login-link">Login</a>
      {% endif %}
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Ваша корзина:
            <a href="{% url 'cart:cart_detail' %}">
              {{ total_items }} товар{{ total_items|pluralize }},
              {{ cart.get_total_price }}P
            </a>
          {% elif not order %}
            Ваша корзина пуста
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
