{% extends 'base.html' %}

{% block title %}Добро пожаловать в TechMix{% endblock %}

{% block content %}
    <div class="section">
        <h2>Добро пожаловать на сайт TechMix</h2>
        <p>Магазин, который не только предлагает оригинальную цифровую и бытовую технику, но и заботится о ваших потребностях и комфорте.</p>

        <p>Наша команда – энтузиасты, которые с любовью и заботой отбирают только самые лучшие и актуальные модели для своих клиентов.</p>

        <p>Но наша работа не заканчивается на продаже. Профессиональные специалисты TechMix помогут вам решить проблемы с диагностикой и ремонтом устройств.</p>

        <p>Мы понимаем важность вашего времени, поэтому предлагаем бесплатную доставку в пределах Нового Города при заказе от 15 000 рублей, чтобы вы могли сделать покупку легко и без лишних хлопот.</p>

        <p>Мы гордимся нашей репутацией и уверены, что вы останетесь довольны сотрудничеством с нами.</p>

        <h3>Наш адрес:</h3>
        <p>Мы находимся в Новый Город, и всегда рады приветствовать вас по адресу:</p>
        <p><strong>ул. Мира 56, офис 12</strong></p>

        <h3>Часы работы:</h3>
        <p>Мы работаем без праздников и выходных с 09:00 до 19:00.</p>

        <h3>Воспользуйтесь нашим удобным каталогом для выбора товара.</h3>
        <p>А если у вас возникнут вопросы, обращайтесь к нашему онлайн-консультанту — он всегда готов вам помочь.</p>

        <h3>Подпишитесь на наши социальные сети:</h3>
        <ul>
            <li><a href="https://vk.com" target="_blank">Вконтакте</a></li>
            <li><a href="https://t.me" target="_blank">Телеграмм</a></li>
        </ul>

        <p>Приятных вам покупок с TechMix – магазином, который заботится о вас и вашей технике!</p>
    </div>
{% endblock %}
