{% extends 'base.html' %}

{% block title %}Способы покупки - TechMix{% endblock %}

{% block content %}
    <div class="section">
        <h2>Самовывоз</h2>
        <p>Вы можете купить товар в нашем магазине **TechMix** по адресу:</p>
        <p>test.</p>
        <p><strong>Режим работы:</strong> Ежедневно с 10:00 до 20:00</p>
        <p><strong>Условия:</strong> Для самовывоза не требуется предварительная запись, вы можете забрать ваш заказ в любое время в рабочие часы. Пожалуйста, возьмите с собой паспорт и номер заказа для удобства.</p>
    </div>

    <div class="section">
        <h2>Доставка курьером по городу Красноярску</h2>
        <p>На нашем сайте можно оформить доставку до двери. После оформления заказа с вами свяжется менеджер для подтверждения. Мы предлагаем два типа доставки:</p>
        <ul>
            <li><strong>Дневная доставка:</strong> с 14:00 до 19:00.</li>
            <li><strong>Вечерняя доставка:</strong> с 20:00 до 23:00.</li>
        </ul>
        <p><strong>Важно:</strong> Заказы, оформленные до 19:30, доставляются в тот же день.</p>

        <p><strong>Стоимость доставки:</strong></p>
        <ul>
            <li>Заказы на сумму от 10 000 рублей доставляются бесплатно.</li>
            <li>При заказе до 10 000 рублей стоимость доставки составит от 300 рублей, в зависимости от района.</li>
        </ul>

        <p><strong>Служба доставки:</strong> 898998989898</p>
        <p><strong>Электронная почта:</strong> <a href="mailto:support@techworld.ru">support@techworld.ru</a></p>
    </div>

    
{% endblock %}
