{% extends 'base.html' %}

{% block title %}ТРЕЙД-ИН - TechMix{% endblock %}

{% block content %}
    <div class="section">
        <h2>ОБМЕНЯЙТЕ СТАРЫЙ iPHONE НА НОВЫЙ!</h2>
        <p>У нас в магазине **TechMix** вы можете обменять ваш старый iPhone на новый! Просто принесите свой старый iPhone, и наш специалист оценит его стоимость.</p>

        <p>Для подробной информации и уточнений по обмену, пожалуйста, свяжитесь с нами по телефону:</p>
        <p><strong>+534345345</strong></p>

        <p>Мы гарантируем удобные условия обмена, и вы сможете приобрести новый iPhone по выгодной цене!</p>

        <h3>Как это работает:</h3>
        <ol>
            <li>Принесите ваш старый iPhone в наш магазин.</li>
            <li>Наш специалист произведет оценку устройства и предложит вам цену обмена.</li>
            <li>После оценки вы можете выбрать новый iPhone и оформить покупку с учетом скидки.</li>
            <li>Вы оплачиваете только разницу между старым и новым устройством.</li>
        </ol>

        <h3>Наши контакты:</h3>
        <p>Адрес: </p>
        <p>Часы работы: ежедневно с 10:00 до 20:00</p>
    </div>
{% endblock %}
